fastapi==0.115.12
uvicorn==0.29.0
requests==2.32.3
pysqlite3-binary>=0.5.2
pydantic==2.11.1
httpx==0.28.1


openai==1.70.0
google-generativeai==0.8.4
ollama==0.4.7
sentence-transformers==2.2.2
transformers==4.40.2
torch==2.3.0


chromadb==0.6.3


pandas==2.2.3
numpy==2.2.4
scikit-learn==1.6.1


python-dotenv==1.1.0
rich==14.0.0
autogen==0.8.4
